@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

*{
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: url("../images/bg.jpg") rgba(0, 0, 0, 0.5);
    font-family: 'Dosis', sans-serif;
}

#lifeLeftText {
    text-align: center;
    color: white;
    font-size: 2.5rem;
}

#stars {
    display: block;
    margin: auto;
    background-image: url("../images/ciel-nocturne.png");
    background-repeat: repeat-x;
    background-size: cover;
    background-position: 0 0;
    border: 2px solid white;
    max-width: 100%;

}

#stars {
    animation-duration: 30s;
    animation-name: starsSlide;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


@keyframes starsSlide {
    from {
        background-position: 1200px 0;
    }

    to {
        background-position: 0 0;
    }
}


div#control {
    text-align: center;
    margin: 10px;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    border: 1px dotted #ffffff;
    flex-direction: column;
    width: max-content;
    padding: 1rem;
    background-color: black;
}


span#score {
    width: 8rem;
    font-size: 30px;
    text-align: right;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description-wrapper {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1000px;
}

.description-wrapper .game-rules {
    color: white;
    border: 1px dotted #ffffff;
    padding: 1rem;
    margin: 10px;
    background-color: black;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    margin: 1rem 0;
}

button, span {
    border-radius: 1.5rem;
    border: none;
    height: 3rem;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin: 1rem 0;
    font-family: 'Dosis', sans-serif;
}

button span{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.25rem;
}
