/* You can add global styles to this file, and also import other style files */
@import "~bulma/css/bulma.min.css";

.navbar-item{
  img{
    width: 110px !important;
    height: auto !important;
  }
}

.table td, .table th{
  padding: 0.5rem 1.5rem !important;
}

.sidebar {
  @media screen and (max-width: 768px){
    min-width: 0 !important;
  }
}

body, html {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

table{
  width: 100% !important;
}

